[submodule "Spec.Test/spec"]
	path = Spec.Test/spec
	url = git@github.com:WebAssembly/spec.git
[submodule "Spec.Test/wasi"]
	path = Spec.Test/wasi
	url = git@github.com:WebAssembly/wasi-testsuite.git
[submodule "unity"]
	path = unity
	url = git@github.com:kelnishi/WACS-Unity.git
[submodule "Feature.Detect/wasm-feature-detect"]
	path = Feature.Detect/wasm-feature-detect
	url = git@github.com:GoogleChromeLabs/wasm-feature-detect.git
